<DOCTYPE html>


<html>
    <head>
        <meta ttp-equiv="content-Type" content="text/html"; charset=UTF-8>
        <title>Title</title>
    </head>

    <body>
        <p>Student Info</p>
        {%if student_info%}
            name : {{student_info.s_name}}</br>
            major : {{student_info.s_major}}</br>
            age : {{student_info.s_age}}</br>
            grade : {{student_info.s_grade}}</br>
            gender : {{student_info.s_name}}</br>
        {%else %}
            <p>Student : 0</p>
        {%endif %}
        </br>
        <a href=""> Modify </a> 
        <a href=""> Delete </a>
        <a href="{%url 'students:stuAll'%}"> List </a>
        <a href="{%url 'students:reg'%}"> Add </a>
    </body>
</html>